{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": [
      "error",
      {
        "allow": [
          "constructors"
        ]
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "external",
            "pattern": "react",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ]
      }
    ],
    "no-console": [
      2,
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-debugger": 2,
    "no-explicit-any": "off"
  }
}
